.custom-container {
  width: 80%;
  height: 500px;
  background-color: #dee4e8;
  margin: auto;
  padding: 50px 0 0 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.custom-container span {
  font-size: 45px;
  font-weight: 500;
}
.container-weather {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  width: 80%;
  height: 70%;
}
.container-weather_blocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.weather {
  border-left: 1px solid grey;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}
.weather:first-child {
  border: none;
}
.dayWeek {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}
.day {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}
.image {
  font-size: 30px;
  padding-bottom: 10px;
}
.image i.fas.fa-sun {
  color: #fbf412;
}
.image i.fas.fa-clouds {
  color: #459be6;
}
.dayTemperature {
  font-size: 20px;
  font-weight: 500;
}
.nightTemperature {
  font-size: 12px;
  font-weight: 500;
  color: #767f7f;
  padding-bottom: 20px;
}
.cloudiness {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}